<div class="game-detail">
  <div class="info">
    {{game.period}} {{game.time}}
  </div>
  <div class="team" ng-repeat="team in game.teams">
    {{team.name}}
    <table class="score-table">
      <tr>
        <td ng-repeat="period in team.periods">
          {{period.name}}
        </td>
        <td>Total</td>
      </tr>
      <tr>
        <td ng-repeat="period in team.periods">
          {{period.score}}
        </td>
        <td>{{team.score}}</td>
      </tr>
    </table>
  </div>
  <div class="plays" ng-repeat="play in game.plays">
    <div class="play">
      {{play.time}} - {{play.description}}
    </div>
  </div>
</div>
