extends ../layout

block content
  h1 Games
  #games
    for game, i in games
      a(href="/game/#{i}")
        .game
          .info= game.period + " " + game.time
          for team in game.teams
            .team(style="background-color:team.color;")= team.abbreviation + " " + team.score
