extends layout

block content
  div(ng-controller='IndexController')
    div(ng-repeat='game in games')
      .team(ng-repeat='team in game.teams' style="background-color:{{team.color}};") {{team.abbreviation}} {{team.score}}
